#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.adicionando_produto_container {
  border-top: 2px solid #FFF;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  display: flex;
}

button {
  margin-top: 20px;
}